version: '2'

services:

  udp-packet-forwarder:
    # use pre-defined image
    image: rakwireless/udp-packet-forwarder:latest
    # or comment out image: and build it yourself / with balena services
    #build:
    #  context: .
    #  args:
    #    ARCH: rpi

    container_name: udp-packet-forwarder
    restart: unless-stopped
    privileged: true
    network_mode: host
    
    #volumes:
    #  - ./global_conf.json:/app/global_conf.json:ro
    
    environment:
      
      # To select your concentrator you have 3 options:
      # Option 1: set the MODEL to the WisGate Developer Gateway model number
      # Option 2: set the MODEL to the WisLink LPWAN model number
      # Option 3: set the CONCENTRATOR directly
      MODEL: "RAK7248"
      #MODEL: "RAK5146"
      #CONCENTRATOR: "SX1302"

      # When using options 2 or 3 above, you will probably have to specify other features of the module.
      # These are the defaults:
      #INTERFACE: "SPI"
      #HAS_GPS: "1"
      #HAS_LTE: "0"
      #RESET_GPIO: 17
      #POWER_EN_GPIO: 0
      #POWER_EN_LOGIC: 0

      # If you have the concentrator connected to a different port
      # than the default ones ("/dev/spidev0.0" for SPI or "/dev/ttyACM0" for USB) 
      # you can define it this way
      # RADIO_DEV: "/dev/spidev0.1"
      # RADIO_DEV: "/dev/ttyUSB0"

      # Same for the GPS
      # GPS_DEV: "/dev/i2c-1"
      # GPS_DEV: "/dev/ttyUSB2"

      # The service will define the Gateway EUI based on a network interface: eth0, wlan0 or usb0.
      # If neither of these exist or you want it to use a different interface you can define the NIC this way:
      #GATEWAY_EUI_NIC: "enx00e04c68160f"

      # You can also set a custom Gateway EUI (8 bytes in hex format)
      #GATEWAY_EUI: "1122334455667788"

      # The default LNS server is the European TTN server. 
      # If you still want to use TTN but a different region you can set it this way:
      #TTN_REGION: "au1"

      # Or you can set a completely different LNS server.
      #SERVER_HOST: lns.example.com
      #SERVER_PORT: 1700

      # The default frequency band is EU868, 
      # if your module uses a different band you have to select it here:
      #BAND: "cn_470_510"

      # If you want the gateway to report a specific lat/lon/alt you can set them this way:
      #GPS_LATITUDE: 41.42
      #GPS_LONGITUDE: 2.12
      #GPS_ALTITUDE: 0




